.app {
  width: 100%;
  height: 100%;
  padding-top: 66px;
  background: url(../images/login-img/login-bg.jpg) no-repeat center center / 100% 100%;
}
.app .login {
  margin: 0 auto;
  width: 590px;
  min-height: 571px;
  background: #fff;
  padding: 40px 65px 0 65px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px #e6e8e9;
  box-shadow: 0 0 5px #e6e8e9;
  position: relative;
}
.app .login .login-img {
  position: relative;
  height: 32px;
  line-height: 32px;
  margin: 14px 0 42px 0;
}
.app .login .login-img img:first-child {
  position: absolute;
  width: 50%;
  vertical-align: middle;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
}
.app .login .login-img img:last-child {
  position: absolute;
  width: 5%;
  right: 20%;
  top: -20%;
}
.app .login .login-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29.2px;
  text-align: center;
  font-size: 16px;
  color: #666;
}
.app .login .login-title .select-tel {
  position: relative;
  width: 50%;
  padding-bottom: 3.82%;
  border-bottom: 1px solid #00adef;
  color: #00adef;
  cursor: pointer;
}
.app .login .login-title i {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -14px;
  border-top: 7px solid #00b7ff;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
}
.app .login .login-title .triangular2 {
  display: none;
}
.app .login .login-title .select-password {
  position: relative;
  width: 50%;
  padding-bottom: 3.82%;
  cursor: pointer;
}
.app .login .infor-tel {
  width: 100%;
  margin-top: 0.7rem;
}
.app .login .infor-tel .tel {
  width: 100%;
  padding-bottom: 0.3rem;
  margin-bottom: 0.45rem;
  border-bottom: 0.01rem solid #e1e1e1;
  height: 0.718rem;
  position: relative;
}
.app .login .infor-tel .code {
  width: 100%;
  padding-bottom: 0.3rem;
  border-bottom: 0.01rem solid #e1e1e1;
  height: 0.718rem;
  position: relative;
}
.app .login .infor-tel .code .send-code,
.app .login .infor-tel .code .find-password {
  position: absolute;
  right: 0;
  color: #00adef;
  font-size: 0.28rem;
}
.app .login .infor-tel input {
  position: absolute;
  width: 100%;
  font-size: 0.28rem;
  height: 0.4rem;
  outline: none;
  border: 0;
}
.app .login .infor-tel button {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.26rem;
  margin: 0.19rem 0;
  background: #00adef;
  color: #fff;
  border: 0;
}
.app .login .infor-password {
  display: none;
}
.app .login .register {
  color: #00adef;
  height: 0.5rem;
  font-size: 0.28rem;
  margin-top: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.app .login .login-footer {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.28rem;
  font-size: 0.28rem;
  text-align: center;
  color: #666;
}
.app .login .login-footer img {
  width: 0.6rem;
  cursor: pointer;
}
.app .login .login-footer img:nth-child(2) {
  margin: 0 0.82rem;
}
.app .create-id {
  position: absolute;
  margin: 0 auto;
  width: 590px;
  min-height: 571px;
  background: #fff;
  padding: 40px 65px 0 65px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px #e6e8e9;
  box-shadow: 0 0 5px #e6e8e9;
  position: relative;
  display: none;
}
.app .create-id .login-img img:first-child {
  width: 5.22rem;
  height: 0.66rem;
}
.app .create-id .login-img img:last-child {
  right: 20px;
}
.app .create-id .reading {
  width: 100%;
  height: 20px;
  font-size: 16px;
  margin-top: 0.21rem;
  color: #666;
}
.app .create-id .reading input {
  float: left;
  position: static;
  width: 0.3rem;
  height: 0.3rem;
  border: 0.01rem solid #ccc;
  margin-right: 0.24rem;
  vertical-align: middle;
  outline: none;
  opacity: 0.5;
  margin-top: 2px;
}
.app .create-id .reading span {
  float: left;
}
.app .create-id .reading span i {
  color: #00adef;
  margin: 0 0.24rem;
  font-style: normal;
}
::placeholder {
  color: #aaaaaa;
}
.footer {
  position: relative;
  width: 100%;
  background-color: #000;
  font-size: 12px;
  overflow: hidden;
}
.footer .footer {
  height: 106px;
  width: 100%;
  padding: 10px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer .footer-links {
  width: 50%;
}
.footer .footer .footer-links ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer .footer-links ul li {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 40px;
}
.footer .footer .footer-links ul .shu {
  margin: 0 10px;
  width: 1px;
  height: 12px;
  background-color: #666;
}
.footer .footer .footer-links ul span {
  cursor: pointer;
}
.footer .footer .footer-social {
  width: 40%;
}
.footer .footer .footer-social ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer .footer-social ul li {
  padding: 0 25px;
  color: #bfbfbf;
  font-size: 12px;
  display: flex;
  line-height: 40px;
}
.footer .footer .footer-social ul li .img-wrap {
  height: 100%;
}
.footer .footer .footer-social ul li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
.footer .footer .footer-social ul li span {
  cursor: pointer;
}
.prop {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: red;
  font-size: 18px;
  top: 110px;
  padding-left: 35%;
}
.prop-in::before {
  content: '!';
  display: inline-block;
  line-height: 20px;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.inp-m {
  position: relative;
}
.eyes {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: #794e4e;
  cursor: pointer;
}
